.verde {
background-color: green;
height: 100px;
}

.amarillo {
background-color: yellow;
width: 50%;
height: 100px;
}

.rojo {
    background-color: tomato;
    height: 100px;
    width: 50%;
}

.azul {
    background-color: blue;
    height: 100px;
    width: 80%;
}

.sct-contendor {
    display: flex;
}

@media all and  (min-width: 540px) {

    .sct-contendor {
        justify-content: space-around;
    }
    .amarillo {
        width: 40%;
    }

    .rojo {
        width: 40%;
    }
}